<?xml version="2.0" encoding="UTF-8"?>
<launch>
    <arg name="world" default="empty"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find bresilla)/worlds/jackal_race.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

  <!-- Send the Innok Heros URDF/XACRO to param server -->
     <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bresilla)/urdf/heros_3.xacro'" />
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -z 0.4 -x -0.3 -y 0.4 -model heros -param robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    
    <!--launch rviz-->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find bresilla)/launch/config.rviz"/>
</launch>
