<?xml version="2.0" encoding="UTF-8"?>
<launch>
    <arg name="world" default="empty"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find bresilla)/worlds/jackal_race.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

  <!-- Send the Innok Heros URDF/XACRO to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bresilla)/urdf/rover.urdf'" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -z 0.4 -x -0.3 -y 0.4 -model heros -param robot_description"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>
    
  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find bresilla)/launch/config.rviz"/>
  
  <!-- Map server -->
  <arg name="map_file" default="$(find bresilla)/maps/jackal_race.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/>

  <!-- Localization-->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="bresilla/laser/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="min_particles" value="20"/>
    <param name="max_particles" value="500"/>
    <param name="transform_tolerance" value="0.25"/>
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="-0.785"/>
    <param name="laser_model_type" value="likelihood_field_prob"/>
  </node>
  
  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find bresilla)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find bresilla)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bresilla)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bresilla)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find bresilla)/config/base_local_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="bresilla/laser/scan"/>

    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
  </node>

</launch>